.order-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 4px;
    transition: max-height 0.3s ease, padding 0.3s ease, border 0.3s ease;

  }
  

  
  .order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
  }
  
  .order-summary span {
    flex: 1;
    text-align: left;
  }
  
  .order-summary span:first-child {
    flex: 0.5;
    text-align: center;
  }
  
  .order-title {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .order-time {
    font-size: 0.9rem;
    color: #555;
  }
  
  .details-btn {
    padding: 10px 20px; 
    background-color: #3498db; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 0.9rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    text-transform: capitalize;
  }
  
  .details-btn:hover {
    background-color: #1d78c1; 
    transform: scale(1.05); 
  }
  
  .details-btn:active {
    background-color: #0f5a91; 
    transform: scale(0.95); 
  }
  
  .details-btn:focus {
    outline: 2px solid #1d78c1; 
  }
  