
.order-list {
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* background-color: #f9f9f9; */
    /* padding: 10px; */
  }
  
  .order-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    background-color: #333; 
    color: #fff; 
    border-radius: 8px 8px 8px 8px;
  }
  
  .order-list-header span {
    flex: 1; 
    text-align: center; 
  }
  
  .order-list-header span.header-id {
    flex: 0.5; 
    text-align: center;
  }
  
  .order-list-header span.header-title {
    flex: 2; 
    text-align: left; 
  }
  
  .order-list-header span.header-actions {
    flex: 1; 
    text-align: center;
  }
  
  .order-list .order-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .order-list .order-card:last-child {
    border-bottom: none;
  }
  
  .order-list .order-card span {
    flex: 1; 
    text-align: center;
  }
  
  .order-list .order-card span.order-id {
    flex: 0.5;
    text-align: center;
  }
  
  .order-list .order-card span.order-title {
    flex: 2; 
    text-align: left; 
  }
  
  .order-list .order-card span.order-actions {
    flex: 1; 
    text-align: center;
  }

  .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
  }
  
  .pagination-btn {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100px; 
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #999; 
  }
  
  .pagination-info {
    font-size: 0.9rem;
    padding: 0 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  